.main {
    
    padding-top: 109px;
    padding-bottom: 119px;

    &__title {
        color: #3c3c3c;
        font-family: Lato;
        font-size: 34px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 5px;
        text-align: center;
    }

    &__title hr {
        width: 45px;
        color: #dddbdb;
        border: solid;
        margin-bottom: 32px;
    }

    &__subtitle {
        color: #3c3c3c;
        font-family: Lato;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
        margin-bottom: 56px;
    }

    &__team {
        position: relative;
    }    

    &__author {
        position: absolute;
        font-family: Lato;
        line-height: 18px;
        color: #282528;
        font-size: 18px;
        font-weight: 700;
        margin-top: 20px;
        margin-left: -2px;
    }

    &__description {
        position: absolute;
        bottom: -56px;
        left: -2px;
        font-family: Lato;
        line-height: 18px;
        color: #282528;
        font-size: 14px;
        font-weight: 300;
    }

        .hover {
        position: relative;
        display: inline-block;    
        }

        .hover:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: inline-block;   
    
        }

        .hover:hover:after {
            opacity: 0.9;
            background-color: rgba(0,174,217, 0.8);
            transition: 0.4s;
        }

        .hover:hover img {
        visibility: hidden;
    }

    &__author1 {
        position: relative;
    }

    &__icons {
        visibility: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        
    }

    &__icons a {
        text-decoration: none;
    }



    .hover:hover i {
        visibility: visible;
        color: white;
        /*background-color: rgba(255, 255, 255, 0.3);*/
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        margin-right: 3px;
    }

    &__twitter i{
        background-color: rgba(255, 255, 255, 0.3);
        padding-top: 10px;
        padding-left: 5px;
        padding-right: 10px;
        padding-bottom: 5px;
    }
    



    &__facebook i{
        background-color: rgba(255, 255, 255, 0.3);
        padding-top: 10px;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 5px;
    }


    &__google i{
        background-color: rgba(255, 255, 255, 0.3);
        padding-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
    }

}
    