mixin main
    .main
         .container.container--lg
            .row
                .col-12
                    .main__title
                        h1 Who We Are
                        hr
            .row.d-flex.justify-content-center
                .col-6
                    .main__subtitle
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .row
                .col-12.pl-0.pr-0
                    .main__team.d-flex.justify-content-around
                        .main__author1.hover
                            .main__icons.d-flex.justify-content-around
                                .main__twitter
                                    a(href='#')
                                        i.fab.fa-twitter
                                .main__facebook 
                                    a(href='#')
                                        i.fab.fa-facebook-f
                                .main__google
                                    a(href='#')
                                        i.fab.fa-google-plus
                            img(src='./img/john.png' alt="John")
                            p.main__author John Handson
                            p.main__description Lead Designer
                        .main__author2.hover   
                            .main__icons.d-flex.justify-content-center
                                .main__twitter
                                    a(href='#')
                                        i.fab.fa-twitter
                                .main__facebook 
                                    a(href='#')
                                        i.fab.fa-facebook-f
                                .main__google
                                    a(href='#')
                                        i.fab.fa-google-plus
                            img(src='./img/alex.png' alt="Alex")
                            p.main__author Alex Cutter
                            p.main__description Developer
                        .main__author3.hover    
                            .main__icons.d-flex.justify-content-center
                                .main__twitter
                                    a(href='#')
                                        i.fab.fa-twitter
                                .main__facebook 
                                    a(href='#')
                                        i.fab.fa-facebook-f
                                .main__google
                                    a(href='#')
                                        i.fab.fa-google-plus
                            img(src='./img/elena.png' alt="Elena")
                            p.main__author Elena Simpson
                            p.main__description Artist
                        .main__author4.hover    
                            .main__icons.d-flex.justify-content-center
                                .main__twitter
                                    a(href='#')
                                        i.fab.fa-twitter
                                .main__facebook 
                                    a(href='#')
                                        i.fab.fa-facebook-f
                                .main__google
                                    a(href='#')
                                        i.fab.fa-google-plus
                            img(src='./img/lilly.png' alt="Lily")
                            p.main__author Lily Allen
                            p.main__description Graphic Designer
